@charset "utf-8";

/*레이아웃*/
*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
.vertical-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*contents 1*/
#section01{
    position:relative;
    background:#3586ff;
    overflow:hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
}
#section01 .wave{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:150px;
    background:url(../imgs/wave.png);
    background-size:500px 150px;}
#section01 .wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity:1;
    animation-delay: 0s;
    bottom:0;
}
#section01 .wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity:0.5;
    animation-delay: -5s;
    bottom: 10px;
}
#section01 .wave3{
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity:0.2;
    animation-delay: -2s;
    bottom: 15px;
}
#section01 .wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity:0.7;
    animation-delay: -2s;
    bottom: 20px;
}
@keyframes animate{
    0%{
        background-position-x: 0;
    }100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }100%{
        background-position-x: -1000px;
    }
}
#section01 .first-text{
    width:100%;
    height:100vh;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
}
#section01 .first-text h1{
    font-size: 80px;
}

.typed-cursor {
    opacity: 0;
    display: none;
}

.auto-type::after {
    position: relative;
    top: -4px;
    content: '|';
    display: inline-block;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



#section02 > main {
    overflow-x: hidden;
    display: flex;
    position: sticky;
    top:0;
}

#section02 section {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
}


#section02 main section .title {
    flex: 10%;
    background-color: yellow;
    width:100%;
    height:100%;
    text-align: centers;
}


/* about */
.circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .grid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
  
  @media (min-width: 31em) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
/* web */
#section02 section div:nth-of-type(2){
    flex:90%;
} 
#section02 section:nth-child(even) {
    background-color: teal;
    color: white;
}
#section02 section:nth-child(1){}
.container{
    position:relative;
    width:100%;
    overflow:hidden;
}
.slider-container{
    position:absolute;
    width:100%;
}
.slide{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    padding:0 10%;
    box-sizing: border-box;
    text-align: center;
    overflow:hidden;
}
.slider-container.animated{
    transition: left .3s ease-in;
}
blockquote{
    color:#636363;
    font-weight:300;
    font-style:italic;
    margin-bottom:15px;
}
#prev,
#next{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%);
    z-index:99999;
    display:inline-block;
    height:15px;
    height:5px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .3s ease-in;
}
#prev.disabled,#next.disabled{display:none;}
#prev{
    margin-left:-480px;
}

#next{
    margin-left:380px;
}

#section02 section:nth-child(3){}
#section02 section:nth-child(4){}


